.d-b {
  display: block;
}
.d-b-i {
  display: block !important;
}

.d-ib {
  display: inline-block;
}
.d-ib-i {
  display: inline-block !important;
}

.d-n {
  display: none;
}
.d-n-i {
  display: none !important;
}

.v-h {
  visibility: hidden;
}
.v-h-i {
  visibility: hidden !important;
}
