@charset 'utf-8';
/*
  font
*/
@import "_vars";
// 字体大小
@each $item in (xl, 20), (lg, 18), (md, 16), (sm, 14), (xs, 12) {
  .fz-#{nth($item, 1)} {
    font-size: #{nth($item, 2)}px;
  }
  .fz-#{nth($item, 1)}-i {
    font-size: #{nth($item, 2)}px !important;
  }
}

// 粗细
.fw-bold, .fw-b {
  font-weight: bold;
}
.fw-bold-i, .fw-b-i {
  font-weight: bold !important;
}

.fw-light, .fw-lighter, .fw-l{
  font-weight: lighter;
}
.fw-light-i, .fw-lighter-i, .fw-l-i{
  font-weight: lighter !important;
}

// 行高。 一般行高 1.2 ~ 1.5 之间
@each $item in (lg, 1.5), (md, 1.2), (sm, 1) {
  .lh-#{nth($item, 1)} {
    line-height: #{nth($item, 2)};
  }
  .lh-#{nth($item, 1)}-i {
    line-height: #{nth($item, 2)} !important;
  }
}


// 字体
/* 微软雅黑 */
// "STXihei" 是微软雅黑在Mac平台上的对应字体
.ff-yahei{
  font-family: tahoma,arial,"STXihei","Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
}
.ff-yahei-i{
  font-family: tahoma,arial,"STXihei","Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun !important;
}

/* 普通黑体 */
.ff-hei{
    font-family: tahoma,arial,"STXihei",SimHei,"Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
}
.ff-hei-i{
    font-family: tahoma,arial,"STXihei",SimHei,"Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun !important;
}

/* 宋体 */
.ff-song{
  font-family: tahoma,arial,"宋体", SimSun;
}
.ff-song-i{
  font-family: tahoma,arial,"宋体", SimSun !important;
}

// 颜色
.c-i {
  color: inherit;
}
.c-i-i {
  color: inherit !important;
}

.c-grey {
  color: $text-grey;
}
.c-grey-i {
  color: $text-grey !important;
}

.c-light-grey {
  color: $text-light-grey;
}
.c-light-grey-i {
  color: $text-light-grey !important;
}

.c-primary {
  color: $text-primary;
}
.c-primary-i {
  color: $text-primary !important;
}
