/*
size
*/
.h-100per {
  height: 100%;
}
.h-100per-i {
  height: 100% !important;
}

.w-50per {
  width: 50%;
}
.w-50per-i {
  width: 50% !important;
}

.w-100per {
  width: 100%;
}
.w-100per-i {
  width: 100% !important;
}

// 
//循环类似 .mt-5 { margin-top: 5px;} 的样子
$maxValue: 20;
@each $rule in (margin, m), (padding, p){
  @each $dir in (top,t), (right,r), (left,l), (bottom,b) {
    $i: 0;
    @while $i <= $maxValue {
      $value: $i;
      @if($value != 0) {
        $value: #{$value}px;
      }
      .#{nth($rule, 2)}#{nth($dir,2)}-#{$i} {
        #{nth($rule, 1)}-#{nth($dir,1)}: $value;
      }
      .#{nth($rule, 2)}#{nth($dir,2)}-#{$i}-i {
        #{nth($rule, 1)}-#{nth($dir,1)}: $value !important;
      }
      @if($value != 0) {
        $remValue: #{$i/50}rem;
        .#{nth($rule, 2)}#{nth($dir,2)}-#{$i}rem {
          #{nth($rule, 1)}-#{nth($dir,1)}: $remValue;
        }
        .#{nth($rule, 2)}#{nth($dir,2)}-#{$i}rem-i {
          #{nth($rule, 1)}-#{nth($dir,1)}: $remValue !important;
        }
      }
      $i: $i + 5;
    }
  }

  $i: 0;
  @while $i <= $maxValue {
    $value: $i;
    @if($value != 0) {
      $value: #{$value}px
    }
    .#{nth($rule, 2)}-#{$i} {
      #{nth($rule, 1)}: $value;
    }
    .#{nth($rule, 2)}-#{$i}-i {
      #{nth($rule, 1)}: $value !important;
    }
    .#{nth($rule, 2)}h-#{$i} {
      #{nth($rule, 1)}-left: $value;
      #{nth($rule, 1)}-right: $value;
    }
    .#{nth($rule, 2)}h-#{$i}-i {
      #{nth($rule, 1)}-left: $value !important;
      #{nth($rule, 1)}-right: $value !important;
    }
    .#{nth($rule, 2)}v-#{$i} {
      #{nth($rule, 1)}-top: $value;
      #{nth($rule, 1)}-bottom: $value;
    }
    .#{nth($rule, 2)}v-#{$i}-i {
      #{nth($rule, 1)}-top: $value !important;
      #{nth($rule, 1)}-bottom: $value !important;
    }
    @if($value != 0) {
      $remValue: #{$i/50}rem;
      .#{nth($rule, 2)}-#{$i}rem {
        #{nth($rule, 1)}: $remValue;
      }
      .#{nth($rule, 2)}-#{$i}rem-i {
        #{nth($rule, 1)}: $remValue !important;
      }

      .#{nth($rule, 2)}h-#{$i}rem {
        #{nth($rule, 1)}-left: $remValue;
        #{nth($rule, 1)}-right: $remValue;
      }
      .#{nth($rule, 2)}h-#{$i}rem-i {
        #{nth($rule, 1)}-left: $remValue !important;
        #{nth($rule, 1)}-right: $remValue !important;
      }

      .#{nth($rule, 2)}v-#{$i}rem {
        #{nth($rule, 1)}-top: $remValue;
        #{nth($rule, 1)}-bottom: $remValue;
      }
      .#{nth($rule, 2)}v-#{$i}rem-i {
        #{nth($rule, 1)}-top: $remValue !important;
        #{nth($rule, 1)}-bottom: $remValue !important;
      }
    }
    $i: $i + 5;
  }
}
